.card {
            width: 300px;
            background: rgba(211, 206, 206, 0.811);
            margin: 40px;   
            padding: 25px;
            text-align: center;
        }

        .title {
            background: #b1aeae;
            padding: 25px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        img {
            width: 100%;
        }

        h2{
            margin: 8px 0;
        }

        p {
            margin: 4px 0;
            font-size: 14px;
        }

        .footer {
            margin-top: 8px;
            font-size: 12px;
            color: gray;
        }