.container {
    font-size: 32px;
    color:rgb(15, 16, 16);
    background-color:antiquewhite;
    text-align: center;
    padding: 24px;
    border: 2px solid blueviolet;
    margin-top: 24px;
    margin-bottom: 30px;
}